/* Estilos para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



h1 {
    margin: 0;
}

main {
    padding: 20px;
}

/* Estilos para os cursos */
.course {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.course img {
    width: 8%;
    border-radius: 50px;
}

.course h2 {
    margin-top: 0;
}

.course p {
    margin-bottom: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
